@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Merriweather", serif;
  font-size: 1rem;
  line-height: 1.6;
  background: rgb(78, 68, 129);
  background: linear-gradient(90deg, rgb(33, 25, 75) 59%, rgb(66, 53, 129) 93%);
  color: white;
}
#root {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* Text Styles*/
.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.large {
  font-size: 2.8rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

header {
  border-bottom: 2px solid #eeeeee44;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  background: rgb(78, 68, 129);
  background: linear-gradient(90deg, rgb(33, 25, 75) 59%, rgb(51, 41, 100) 93%);
}

.navbar-brand a {
  transition: all 0.3s ease-in-out;
}

.navbar-brand a:hover {
  color: rgba(0, 0, 0, 0.589);
}

.nav-item a {
  transition: color 0.3s ease-in-out;
}
.nav-item a:hover {
  color: rgba(0, 0, 0, 0.589);
}
a {
  text-decoration: none;
  color: #eeeeee;
}

form input[type="text"] {
  /* width: 320px !important ; */
}

.search-box input[type="text"]:focus {
  outline: 0;
}

form input[type="submit"] {
  /* width: 100px; */
  /* cursor: pointer;
  background-color: #c54b3d;
  color: #eeeeee;

  border: 0;
  transition: color 0.2s ease-in-out; */
}

form input[type="button"]:active {
  /* font-size: 17px; */
  /* border: 2px solid #703833; */
}
form input[type="button"]:focus {
  outline: none;
}

form input[type="button"]:hover {
  color: rgba(0, 0, 0, 0.589);
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.main .movies-container {
  display: flex;
  justify-content: space-around;
  padding: 0 20px;
  padding-bottom: 80px;
  flex-wrap: wrap;
}

/* Individual Cards */

.main .movie-card {
  width: 250px;
  margin: 25px 8px;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

.main .movie-card .movie-img-container {
  position: relative;
  flex: 1;
  border: 1px solid rgba(12, 11, 11, 0.116);
  height: 400px !important;
  border-radius: 5px;
  transition: border 0.2s ease-in;
  -webkit-box-shadow: 2px 1px 24px 3px rgba(0, 0, 0, 0.44);
  -moz-box-shadow: 2px 1px 24px 3px rgba(0, 0, 0, 0.44);
  box-shadow: 2px 1px 24px 3px rgba(0, 0, 0, 0.44);
}

.main .movie-card .movie-img-container img {
  width: 100%;
  height: 400px;
  margin: 0;
  border-radius: 4px;
}

.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 400px;
  width: 100%;
  padding: 10px 0px 0px 0px;
  background-color: rgba(0, 0, 0, 0.664);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: opacity 0.2s ease-in;
  opacity: 0;
  border-radius: 4px;
}

.card-overlay .movie-title {
  display: flex;
  flex-direction: column;
}

.card-overlay .movie-title {
  font-size: 24px;
  padding: 10px;
}

.card-overlay .movie-title span {
  font-size: 24px;
  padding: 0 5px;
}

.card-overlay ul {
  padding: 0;
  text-align: justify;
}

.card-overlay ul li {
  list-style-type: none;
  padding: 3px 0;
  font-size: 22px;
}
.card-btns {
  display: flex;
  width: 100%;
  padding: 10px 15px;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgba(238, 238, 238, 0.466);
  background-color: rgba(17, 16, 16, 0.418);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.card-btns span a,
.card-btns .fa-star {
  transition: all 0.2s ease-in-out;
}

.card-btns span:hover a {
  color: #007bff;
}

.card-overlay i {
  font-size: 20px;
}
.card-overlay .card-btns i:hover {
  color: #007bff;
}

.main .movie-img-container:hover {
  border: 1px solid rgba(238, 238, 238, 0.466);
}
.main .movie-img-container:hover .card-overlay {
  cursor: pointer;
  /* display: flex; */
  opacity: 1;
}
.main .movie-img-container:hover button {
  transform: translateY(0);
}

.movie-card .title-year-box {
  display: flex;
  flex-direction: column;
  height: 70px;
  margin-top: 6px;
}
.movie-card .title-year-box span {
  text-align: left;
  font-size: 14px;
}

/* End of Cards */

#search-text {
  /* font-size: 42px; */
  /* color: #c54b3d; */
  /* padding: 20px; */
}

.movie-detail {
  background-color: rgba(0, 0, 0, 0.137);
  padding-bottom: 20px;

  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.movie-data {
}
.movie-title {
  margin: 20px;
  font-size: 3.5rem;
}
.movie-detail h3 i {
  padding-left: 10px;
}

.poster-container {
  width: 350px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.poster-container img {
  cursor: pointer;
  border-radius: 4px;
  width: 100%;
  -webkit-box-shadow: 2px 1px 24px 3px rgba(0, 0, 0, 0.44);
  -moz-box-shadow: 2px 1px 24px 3px rgba(0, 0, 0, 0.44);
  box-shadow: 2px 1px 24px 3px rgba(0, 0, 0, 0.44);
}

.movie-overview {
  font-size: 1.1rem;
}

/* Register / sign in */

.register-btn {
  width: 100%;
}

.movie-data-list li {
  list-style-type: none;
}
.movie-data-list li .fa-star {
  color: #c54b3d;
}

.return-btn {
  cursor: pointer;

  background-color: #c54b3d;
  font-size: 1.2rem;
  border: 1px solid #c54b3d;
  color: #ffffff;

  /* padding: 0 20px; */
  transition: color 0.2s ease-in-out;
}

.return-btn-icon {
  font-size: 1rem;
}

.return-btn:hover {
  /* color: rgba(255, 255, 255, 0.815); */
  color: rgba(0, 0, 0, 0.589);
  /* background-color: transparent; */
}

.read-plot:focus,
.go-back-btn:focus {
  outline: 0;
}

/* Pagination */

.pagination {
  display: flex;
  justify-content: center;
}
.pagination .btn {
  color: #fff;
  cursor: pointer;
  margin: 10px;
  font-size: 24px;
  background: 0;
  border: 0;
}

.pagination .btn i {
  font-size: 24px;
  padding: 10px;
}
.pagination .btn:hover {
  text-decoration: underline;
}

/* Profile page */

main.profile {
  min-height: 400px;
}
.profile-movies {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profile-movie {
  background-color: rgba(0, 0, 0, 0.137);

  /* max-width: 900px; */
}
.profile-movie .row {
  background-color: transparent;
}
.profile-movie .row .list-group-item {
  background-color: transparent;
}

.profile-movie img {
  min-height: 100%;
}
.movie-poster {
  border: 3px solid black;
  width: 50%;
}

.movie-info {
  position: relative;
}
.backdrop-img-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.backdrop-img-container img {
  height: 100%;
  width: 100%;
}

.poster-container ul {
  margin: 0;
  padding: 0;
}
.poster-container ul li {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Footer section */

footer {
  border-top: 1px solid #eeeeee44;
  padding: 20px 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
footer p {
  margin: 10px 0;
}

/* Media queries */

@media (max-width: 600px) {
  .container .search-box input[type="submit"] {
    width: 20%;
    cursor: pointer;
    background-color: #a1322685;
    font-size: 18px;
    font-weight: bold;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;

    border-left: none;
  }

  .container .search-box input[type="text"] {
    width: 80%;
    padding-left: 10px;
    font-size: 18px;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;

    background-color: #a1322685;
  }
  .main .movie-card {
    width: 320px;
    height: 400px;
    margin: 75px 10px;
  }

  .movie-card:first-child {
    margin-top: 0;
  }

  .poster-container {
    width: 250px;
  }
}

@media (max-width: 900px) {
  .main h2 {
    font-size: 22px;
    padding: 0px 15px;
    margin-bottom: 30px;
  }

  .movie-title {
    font-size: 2.5rem;
  }
  .movie-data {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    border-top: 0;
    align-items: center;
  }

  .movie-data-list li {
    width: 100%;
  }

  .profile-movie {
    width: 500px;
  }

  footer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }
  footer p {
    font-size: 0.9rem;
  }
}

@media (max-width: 700px) {
  nav {
    flex-direction: column;
  }

  /* Text Styles */
  .x-large {
    font-size: 3rem;
  }

  .large {
    font-size: 2rem;
  }

  .lead {
    font-size: 1rem;
  }
  .movie-detail p {
    font-size: 1rem;
  }

  .main .movie-card {
    width: 250px;
    margin: 40px 8px;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;

    border-radius: 5px;
  }

  .profile-movie {
    width: 100%;
  }
}

@media (max-width: 1100px) {
  .movie-data-list {
    width: 100%;
  }
  .backdrop-img-container {
    display: none;
  }
}

@media (min-width: 900px) {
  .movie-data-list ul li {
    margin: 0 8px;
  }
}
